@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e1e1e;
    color: white;
    font-family: 'VT323', Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1e1e1e;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
     padding: 10px; 
     list-style: none;
     width: 100%;
    position: fixed;
    top: 0;
  }
  .header img {
    max-width: 80px;
}

  
.header a {
    text-decoration: none;
    color: white;
  }
  
  .header a:hover {
    color: #00ff00;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 24px;
  }
  .container{
    display: flex;
    gap: 16px;
    justify-content: flex-end;
  }
  h3{
    color: #00ff00;
    font-size: 40px;
    text-align: center;
  }
.name{
    color: #00ff00;
    font-size: 60px;
    text-align: center;
}

#home h1, #home h2, #gallery h2, #tutorials h2, #community h2, #draw_now h2{ 
    color: #00ff00; 
    font-size: 40px; 
    text-align: center; 
}

#home{
    padding: 40px;
    margin: 50px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

#home ul {
    list-style-type: none;
    display: block;
  }

  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #333;
    color: white;
  }

  
.art-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 20px;
    margin: 30px;
    align-items: center;
}

div.art-item{
    margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  
}

div.art-item img{
    width: 100%;
    height: auto;
    
}

div.desc {
    padding: 15px;
    text-align: center;
  }
#tutorials{
    padding: 40px;
    margin: 50px;
    text-align: center;
    font-size: 20px;
}
.video{
   width: 100%;
    max-width: 560px;
    height: 315px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#community, #draw_now{
    padding: 40px;
    margin: 50px;
    text-align: center;
    font-size: 20px;
}

#community a {
    color: #00ff00;
}


.twoContainers {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px;
    margin: 40px;
    margin-right: 100px;
    border: 1px solid #444;
    border-radius: 10px;
    background: linear-gradient(135deg, #333, #222);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
}

.dropdown {
    position: relative;
    margin-bottom: 20px;
}

.dropbtn {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 5px;
    cursor: pointer;
    background: #444;
    color: white;
    transition: all 0.3s ease;
}

.dropbtn:hover {
    background: #00ff00;
    color: black;
    justify-content: space-between;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 120px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1;
    overflow: hidden;
}

.dropdown-content a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #00ff00;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.colorPicker label {
    font-size: 18px;
    margin-right: 10px;
    color: #00ff00;
}

.colorPicker input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: #444;
    color: white;
}

.randomColor button,
.clear button {
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background: #444;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

#createNewGrid{
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background: #444;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.randomColor button:hover,
.clear button:hover {
    background: #00ff00;
    color: black;
}

.divCol{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: white 1px solid;
}

.divRow{
    border: white 1px solid;
    flex: 1 ;
    padding-bottom: 100%;
}


.space {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
     box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
     border: 5px dashed rgba(0, 255, 0, 0.7);
     padding: 10px;
     border-radius: 20px;
    align-items: center;
    margin-left: 300px;
}

.divRow.sketched {
    background-color: #3498db; 
}
footer a{
    color: #00ff00;
}

.copy{
    color: white;
    text-align: center;
}

footer{
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
    text-align: center;
}
